html, body {
  height: 100%;
}

header {
  position: fixed;
  justify-content: flex-end;
}

aside label {
  margin: 7px 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

aside label div {
  height: 10px;
  width: 22px;
  border-radius: 5px;
  background: #FFDA727D;
  position: relative;
}

aside label div:before {
  content: "";
  height: 14px;
  aspect-ratio: 1 / 1;
  border-radius: 7px;
  background: #FFCC40;
  position: absolute;
  top: -2px;
  left: -2px;
  transition: 0.3s;
}

aside label input:checked ~ div:before {
  left: 10px;
}

aside nav > span {
  color: #000000C2;
  font-size: 0.9rem;
  position: relative;
  bottom: -10px;
}

.choice-reminder {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 60px 0 15px 0;
}

.choice-reminder label {
  font-family: 'Crimson Pro', serif;
  margin: 0;
}

.choice-reminder input {
  display: block;
  height: min-content;
}

#popups #hide-button .choice-panel {
  margin: 0;
}

main {
  padding: 50px 20px;
  background: url('/images/page.jpg') top center / 100% auto repeat-y;
  min-height: 100vh;
}

aside nav {
  background: #FFF9EE
}

aside nav>div {
  background: #FFF3DA;
}

aside a:active {
  background-color: #FFF3DA;
}

.line {
  background: #6F6F6F;
}

aside li:nth-last-child(-n+5) a:active::before,
aside ol button:active::before {
  background: #FFF3DA;
}

aside h1 {
  font-size: 2rem;
}

h1, h2 {
  font-family: 'IM Fell English', serif;
}

h1 {
  margin-bottom: 30px;
}

p {
  font-family: 'Crimson Pro', serif;
}

.back-button {
  position: fixed;
  bottom: 30px;
  right: 20px;
  padding: 10px 20px;
  color: #000000;
  border-radius: 5px;
  font-size: 1rem;
  letter-spacing: 0;
  transition: 0.1s;
  background: url('/images/button.jpg') center center / 100% 100% no-repeat;
  font-family: 'IM Fell English', serif;
}

.back-button:active {
  transform: scale(0.8);
}

#prologue {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#prologue div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

#prologue button {
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #0000001C;
  transition: 0.1s;
  font-family: 'Crimson Pro', serif;
}

#prologue button:active {
  transform: scale(0.5);
}

#prologue h1 {
  text-align: center;
}

#prologue p {
  font-size: 1.1rem;
}

.choice-panel {
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Crimson Pro', serif;
}

.button-row {
  display: flex;
  gap: 20px;
}

.button-row label {
  flex: 1;
}

.button-row button,
.button-row span,
.button-row a {
  display: block;
  flex: 1;
  padding: 10px;
  text-align: center;
  background: url(/images/choice.jpg) center center / cover no-repeat;
  color: black;
}

.choice-panel label button {
  text-align: left;
  width: calc(100% - 20px);
  display: none;
}

.choice-panel p {
  text-align: center;
  color: #0000001C;
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin: 20px 0;
  opacity: 0;
  transition: 0.5s;
}

.choice-panel input:checked + span {
  display: none;
}

.choice-panel input:checked ~ button {
  display: block;
}

.popup-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(169, 169, 169, 0.68);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 10;
}

.popup-panel>div {
  width: 80%;
  height: min-content;
  padding: 30px 20px;
  border-radius: 7px;
  background: url('/images/page.jpg') top center / 100% auto repeat-y;
  animation: endings-popup-animation 0.3s linear 1;
}

@keyframes endings-popup-animation {
  from {
    transform: scale(0.8);
  }
  
  to {
    transform: scale(1);
  }
}

.popup-panel h1 {
  text-align: center;
  margin-bottom: 10px;
}

.popup-panel .choice-panel {
  margin: 50px 0 0 0;
  gap: 10px;
}

.popup-panel .button-row {
  gap: 10px;
}

.popup-panel button,
.popup-panel a {
  border-radius: 3px;
}

.endings {
  display: none;
}

.popup-header {
  width: max-content;
  padding: 0 30px;
}

#confirm-exit>div,
#hide-button>div {
  width: min-content;
  padding: 30px 20px 20px 20px;
}

#hide-button>div {
  text-align: left;
}

#confirm-exit .choice-panel {
  margin: 20px 0 0 0;
}

#cc {
  text-align: center;
  font-size: 2.5rem;
  color: #00000045;
  letter-spacing: 2px;
  margin-top: 50px;
}

#chapters > div > div {
  display: none;
}